# 产品评价分析系统 - 依赖包
openpyxl==3.1.5
pandas==2.2.3
numpy==2.2.0
jieba==0.42.1
wordcloud==1.9.4
matplotlib==3.9.3
seaborn==0.13.2
scikit-learn==1.6.0
snownlp==0.12.3

# 爬虫相关依赖
requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.3.0
selenium==4.27.1
webdriver-manager==4.0.2
